.custom-block {
    padding: rem(20);
    border-radius: rem(15); // Coins arrondis
    background-color: $blanc; // Fond par défaut en clair
    color: $gris; // Couleur du texte par défaut
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); // Légère ombre
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  
    &:hover {
      box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); // Ombre plus prononcée au survol
    }
  
    &__title {
      font-size: rem(24);
      margin-bottom: rem(10);
      font-weight: 700;
    }
  
    &__text {
      font-size: rem(16);
      line-height: 1.6;
    }
  
    // Version dark
    body.dark-mode & {
      background-color: $dark-foreground; // Couleur de fond en mode dark
      color: $dark-text; // Couleur du texte en mode dark
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); // Ombre plus subtile en mode dark
  
      &:hover {
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); // Ombre plus prononcée au survol
      }
    }
  }
  