.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none; // Retirer le soulignement des liens
  background-color: var(--couleur-blanc); // Fond blanc pour la card en version claire
  border-radius: rem(10); // Coins arrondis pour la card
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); // Ombre par défaut
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease; // Animation douce pour le hover
  height: 100%; // Assure que toutes les cards ont la même hauteur
  color: var(--couleur-gris);

  &:hover {
    transform: translateY(rem(-5)); // Légère élévation lors du hover
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3); // Ombre plus forte au hover
  }

  &__image {
    width: 100%;
    height: auto;
    border-radius: rem(10) rem(10) 0 0; // Coins arrondis uniquement en haut
    object-fit: cover; // Ajuste l'image à l'espace disponible
    flex-grow: 1; // L'image prend tout l'espace restant
  }

  &__title {
    padding: rem(10);
    font-size: rem(18);
    font-weight: 600;
    background-color: transparent; // Pas de fond pour le titre en version claire
  }

  &__content {
    padding: rem(10);
    font-size: rem(14);
    color: var(--couleur-gris);
  }

  // Mode sombre
  body.dark-mode & {
    background-color: var(--dark-background); // Fond sombre pour les cartes en mode sombre
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.35); // Ombre plus marquée en dark mode
    color: var(--dark-text); // Texte en couleur claire

    &__title {
      color: var(--dark-text); // Le texte reste clair en dark mode
    }

    &:hover {
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.45); // Ombre plus forte au hover en mode sombre
    }
  }
}
