.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  background-color: var(--couleur-blanc);
  border-radius: rem(10);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: rem(275); /* Fixe la largeur de toutes les cartes */
  color: var(--couleur-gris);

  &:hover {
    transform: translateY(rem(-5));
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  }

  &__image {
    width: 100%;
    height: rem(150); /* Ajustez la hauteur de l'image */
    border-radius: rem(10) rem(10) 0 0;
    object-fit: cover;
    flex-shrink: 0;
  }

  &__title {
    padding: rem(10);
    font-size: rem(18);
    font-weight: 600;
    background-color: transparent;
  }

  &__content {
    padding: rem(10);
    font-size: rem(14);
    color: var(--couleur-gris);
  }

  // Mode sombre
  body.dark-mode & {
    background-color: var(--dark-background);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.35);
    color: var(--dark-text);

    &__title {
      color: var(--dark-text);
    }

    &:hover {
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.45);
    }
  }
}
