.couleurs{
    @include flexbox(row, wrap, space-between, stretch, rem(16));
    padding: rem(10);
    
    

    .square{
        width: 100px;
        height: 100px;
        
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-weight: bold;
    }
}

form{
    .container{
       background-color: var(--grey);
       border-radius: rem(16);
       padding: rem(16);
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
    }
}

.container-card{
    @include flexbox(row, wrap, space-between, stretch, rem(16));

    @media screen and (min-width: $md-size){
        @include flexbox(row, nowrap, space-between, stretch, rem(16));
    }
}