.site-footer {
	background-color: var(--brown);
	
	color: var(--white);
	font-size: rem(13);
	
    margin-top: auto;
    width: 100%;
	@include flexbox(column, nowrap, normal, normal);
	.contact{
		padding: rem(10) rem(12);
		
		.adresse{
			padding-bottom: rem(10);
		}
		ul {

			:first-child{
				@include flexbox(column, nowrap, center, center);
			}

			@include resetList;
			@include flexbox(column, nowrap, center, center);
			flex-grow: 1;
			a {
				font-weight: 500;
				line-height: rem(28);
			}
		}

		img{
			width: 20%;
			height: auto;
		}

		.map{
			iframe{
				width: 100%;
				height: 300px;
				border: none;
			}
			
		}
	}
	.container {
		background-color: var(--dark-grey);
		padding: rem(10) rem(12);
		@include flexbox(column, nowrap, space-between, center, rem(30));

		justify-content: space-between
		
	}
	
	ul {
		@include resetList;
		@include flexbox(row, wrap, flex-start, center, rem(18));
		flex-grow: 1;
		a {
			font-weight: 500;
			line-height: rem(28);
		}
	}
	
	@media screen and (min-width: $md-size){
		.site-footer{
			@include flexbox(row, wrap, flex-start, center, rem(18));
		}

	}
	
}
