form {

  .container {
    @include flexbox(column, wrap, space-between, stretch,rem(16));

    .form-group{
      input{
        border-radius: var(--main-radius);
        border: none;
        padding: rem(10) rem(18);
        font-size: inherit;
        width: 100%;
        background-color: var(--grey-darker);
        color: var(--red-darker);
      
      }
      input::placeholder{
        color: var(--white);
      
      }
      select{
        border-radius: var(--main-radius);
        border: none;
        padding: rem(10) rem(18);
        font-size: inherit;
        width: 100%;
        background-color: var(--grey-darker);
        color: var(--white);

        option{
          color: var(--white);
          
          width: 120px !important;
        }
      }
      textarea{
        border-radius: var(--main-radius);
        border: none;
        padding: rem(10) rem(18);
        font-size: rem(16);
        width: 100%;
        background-color: var(--grey-darker);
        color: var(--white);
      }
      textarea::placeholder{
        color: var(--white);
      }

      
    }
  }
    
}