.navbar {
	position: relative;
	
	background-color: #BE5A38;
	.container {
		padding: 1rem;
		@include flexbox(row, wrap, space-between, center, 0);
		.navbar-desktop{
			display: none;
		}
	}

	img{
		padding-top: 1%;
		width: 20%;
	}

	svg {
		width: 7%;
		height: 7%;
		
	}
	

	form {
		@include flexbox(row, wrap, flex-start, stretch, rem(10));
		.button {
			--text-color: var(--grey);
		}
		input[type="text"] {
			font-size: rem(18);
			font-weight: 500;
		}
	}
	&_title {
		color: inherit;
		font-size: rem(22);
		line-height: rem(28);
		font-weight: 500;
	}

	&_toggle_button {
		@include resetButton;
		display: block;
		font-size: 0;
		height: 1rem;
		width: 1.5rem;
		line-height: 0;
		position: relative;
		$lineHeight: rem(2);

		span,
		&::before,
		&::after {
			content: "";
			height: $lineHeight;
			width: 100%;
			background-color: currentColor;
			position: absolute;
			top: 0;
			left: 0;
			transition: all 0.3s;
			transform-origin: center;
		}
		&::after {
			top: auto;
			bottom: 0;
		}
		span {
			top: 50%;
			transform: translateY(-50%);
		}
		&.toggled {
			span {
				transform: translateY(-50%) scaleX(0);
			}
			&::before {
				top: 50%;
				transform: translateY(-50%) rotate(45deg);
			}
			&::after {
				bottom: 50%;
				transform: translateY(50%) rotate(-45deg);
			}
		}
	}
	&_toggle_content {
		z-index: 10;
		//padding: rem(10) rem(16); // mieux vaut mettre du margin sur l'enfant (transition sur la height)
		@include flexbox(column, nowrap, space-between, stretch, rem(30));
		position: fixed;
		
		width: 100%;
		height: 100%;
		background-color: lightgrey;
		
		
		overflow: hidden;
		padding: 1rem;
		translate: -100%;
		transition: transform 0.3s;
		
		
	}
	ul {
		@include resetList;
		@include flexbox(column, wrap, flex-start, flex-start, rem(18));
		
		li{
			padding: 1rem;
		}
		.button-connexion{
			background-color: #BE5A38;
			
			color: white;
			border: none;
			padding: 1rem;
			border-radius: 5px;
			font-size: 1rem;
			font-weight: bold;
			width: 100%;
			text-align: center;
			transition: all 0.3s;
			&:hover{
				background-color: #E8A87C;
			}
			
		}
		a {
			font-size: rem(18);
			color: inherit;
		}
	}

	@media screen and (min-width: $md-size) {
		.container {
			img{
				width: 10%;
			}
			

			.navbar-desktop{
				display: flex;
				justify-content: flex-end;

				
			}
		}
		ul {
			flex-direction: row;
			align-items: center;
			flex-grow: 1;
			margin: rem(0);
			li{
				color: white;
			}
		}
		svg{
			display: none;
		}
		
		&_toggle_button {
			display: none;
		}
		&_toggle_content {
			display: none;
		}
		.form {
			justify-content: flex-end;
		}
	}
}
