.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px; /* Largeur de la sidebar */
    height: 100vh; /* La sidebar prend toute la hauteur de l'écran */
    background-color: var(--couleur-gris-fonce); /* Utilise la variable CSS */
    z-index: 1000;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Permettre à la sidebar de défiler */
    
    /* Ajout de smooth scrolling pour améliorer l'expérience utilisateur */
    scroll-behavior: smooth;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 80%; /* Logo dans la sidebar */
            margin-bottom: 1rem;
        }

        .sidebar-items {
            list-style: none;
            padding: 0;
            margin: 0;
            width: 100%;

            li {
                padding: 15px 0;

                a {
                    color: var(--couleur-blanc); /* Utilise la variable CSS pour le blanc */
                    text-decoration: none;
                    font-size: 1rem;
                    display: block;
                    padding: 10px;
                    border-radius: 5px;
                    transition: background-color 0.3s ease;

                    &:hover {
                        background-color: var(--couleur-gris); /* Couleur de survol */
                    }
                }
            }
        }
    }
}

/* Appliquer le décalage uniquement si has-sidebar est présent */
.has-sidebar {
    @media screen and (min-width: 768px) { /* Remplacement de `$md-size` par une valeur fixe */
        margin-left: 250px; /* Décale le contenu uniquement si la sidebar est présente */
    }
}

main.hidden {
    opacity: 0;
    transition: opacity 0.3s ease;
}
  
main {
    opacity: 1;
    transition: opacity 0.3s ease;
}
