.table-container {
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;

    thead {
        background-color: $grey; /* En-tête gris clair */
        color: $black-text; /* Texte noir */
    }

    tbody {
        tr:nth-child(even) {
            background-color: $white; /* Lignes paires blanches */
        }

        tr:nth-child(odd) {
            background-color: rgba(190, 90, 56, 0.1); /* Lignes impaires brun léger */
        }

        color: $black-text; /* Texte noir */
    }

    th, td {
        padding: 10px;
        border-bottom: 1px solid $grey; /* Bordure grise pour les lignes */
    }

    th {
        text-align: left;
        font-weight: bold;
    }

    td {
        text-align: center;
    }
}
