.table-container {
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;

    thead {
        background-color: $grey; /* En-tête gris clair */
        color: $black-text; /* Texte noir */
    }

    tbody {
        tr:nth-child {
            background-color: $white; 
        }

        color: var(--text-color); /* Texte noir */
    }

    th, td {
        padding: 10px;
        border-bottom: 1px solid $grey; /* Bordure grise pour les lignes */
    }

    th {
        text-align: left;
        font-weight: bold;
    }

    td {
        text-align: center;
    }
}
