RewriteEngine On


# Vos règles existantes pour rediriger vers index.php si le fichier/dossier demandé n'existe pas
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [L,QSA]
