* {
	box-sizing: border-box;
}

body {
	font-family: $font1;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	color: inherit;
}

input[type="text"] {
	border-radius: var(--main-radius);
	border-color: var(--grey);
	padding: rem(10) rem(18);
	font-size: inherit;
}
