// _globals.scss

// Variables pour le mode clair et sombre
// Variables Sass
$blanc: #ffffff;
$gris: #353238;
$gris-clair: #cccccc;
$gris-fonce: #1e1e1e;
$rouge: #92140c;
$rouge-fonce: #6d0b00;
$jaune: #f8c630;
$jaune-clair: #fbdd92;

$dark-background: #1e1e1e;
$dark-foreground: #2d2d2d;
$dark-text: #f8f8f8;
$dark-text-light:#bfbfbf;
$dark-accent: #ff6b6b;
$dark-border: #444;

// _globals.scss

// Variables pour le mode clair et sombre
// Variables Sass
$font-size-base: 16px;
$font-family-base: "Montserrat", sans-serif;
$line-height-base: 1.6;

// Conversion en variables CSS
:root {
  --couleur-blanc: #{$blanc};
  --couleur-gris: #{$gris};
  --couleur-gris-clair: #{$gris-clair};
  --couleur-gris-fonce: #{$gris-fonce};
  --couleur-rouge: #{$rouge};
  --couleur-rouge-fonce: #{$rouge-fonce};
  --couleur-jaune: #{$jaune};
  --couleur-jaune-clair:#{ $jaune-clair};

  --dark-background: #{$dark-background};
  --dark-foreground: #{$dark-foreground};
  --dark-text-light: #{$dark-text-light};
  --dark-text: #{$dark-text};
  --dark-accent: #{$dark-accent};
  --dark-border: #{$dark-border};


  --font-size-base: 16px;
  --font-family-base: "Montserrat", sans-serif;
  --line-height-base: 1.6;
}

// Styles globaux sans max-width appliqué à tous les éléments
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Conteneur principal avec largeur maximale
.container {
  max-width: rem(1200); // Limite la largeur du contenu à 1200px
  margin: 0 auto; // Centrer le contenu
  padding: rem(20); // Ajouter un padding de 20px

  @include respond-to('phone') {
    max-width: 100%; // Utilise toute la largeur de l'écran en mobile
    padding: rem(10); // Réduire le padding en mobile
  }
}

// Styles pour les titres
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-base);
  font-weight: 700; // Appliquer une police plus grasse pour les titres
  
  margin-bottom: rem(10); // Ajouter un espace en-dessous
}

body {
  font-size: var(--font-size-base);
  font-family: var(--font-family-base);
  line-height: var(--line-height-base);
  color: var(--couleur-gris);
  background-color: var(--couleur-blanc);

  // Styles pour les icônes
  .icon-moon, .icon-sun, .header__user-icon svg {
    fill: currentColor; // L'icône prendra automatiquement la couleur du texte
  }
}

// Mode sombre
body.dark-mode {
  background-color: var(--dark-background);
  color: var(--dark-text);

  // Liens en mode sombre
  a {
    color: var(--dark-text);

    &:hover {
      color: var(--dark-accent); // Accent rouge sombre pour le hover
    }
  }

  // Icônes en mode sombre
  .icon-moon, .icon-sun, .header__user-icon svg {
    fill: var(--dark-text);
  }

  // Menu et navigation en mode sombre
  .header__nav ul {
    background-color: var(--dark-background);
  }

  .header__nav ul li a {
    color: var(--dark-text);

    &:hover {
      color: var(--dark-accent); // Accentuation des liens au survol
    }
  }
}

// Styles pour les liens
a {
  font-family: var(--font-family-base);
  text-decoration: none;
  color: inherit;
}

// Styles pour les listes
ul, ol {
  list-style: none;
}

