* {
  box-sizing: border-box;
  margin: 0;

}

h1, h2, h3, h4, h5, h6 {
  font-family: $font1;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: rem(19);
  line-height: rem(25);
  font-weight: 700;
}

h2 {
  font-size: rem(15);
  line-height: rem(21);
  font-weight: 700;
}

h3 {
  font-size: rem(13);
  line-height: rem(19);
  font-weight: 700;
}

p {
  font-size: rem(13);
  line-height: rem(19);
  font-weight: 400;
}

body {
  font-family: $font1;
  height: 100%;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

input[type="text"] {
  border-radius: var(--main-radius);
  border-color: var(--grey);
  padding: rem(10) rem(18);
  font-size: inherit;
}

@media screen and (min-width: $md-size) {

  h1 {
    font-size: rem(32);
    line-height: rem(40);
    font-weight: 700;
  }
  
  h2 {
    font-size: rem(24);
    line-height: rem(34);
    font-weight: 700;
  }
  
  h3 {
    font-size: rem(24);
    line-height: rem(28);
    font-weight: 700;
  }

}