// _mixins.scss

// Mixin pour une boîte flex personnalisable
@mixin flex($justify: center, $align: center, $direction: row) {
	display: flex;
	justify-content: $justify;
	align-items: $align;
	flex-direction: $direction;
  }
  
// Mixin pour les médias queries pour responsive design
@mixin respond-to($breakpoint) {
@if $breakpoint == 'phone' {
	@media (max-width: 600px) { @content; }
} @else if $breakpoint == 'tablet' {
	@media (max-width: 900px) { @content; }
} @else if $breakpoint == 'desktop' {
	@media (min-width: 901px) { @content; }
}
}

// Mixin pour les polices responsives
@mixin responsive-font($min-font, $max-font) {
font-size: $min-font;

@include respond-to('desktop') {
	font-size: $max-font;
}
}
