/* Couleurs */
$white: #fff;
$black: #000;
$grey: #C1B4AE;
$yellow: #f8c630;
$red: #92140c;
$brown: #BE5A38;
$dark-grey: #353238;

/* Variables css */
:root {
	/* Couleurs */
	--white: #{$white};
	--black: #{$black};
	--grey: #{$grey};
	--grey-darker: #{darken($grey, 10%)};
	--yellow: #{$yellow};
	--yellow-darker: #{darken($yellow, 10%)};
	--red: #{$red};
	--red-darker: #{darken($red, 10%)};
	--brown: #{$brown};
	--brown-darker: #{darken($brown, 10%)};
	--dark-grey: #{$dark-grey};
	--dark-grey-darker: #{darken($dark-grey, 10%)};

	/* Typos */
	--main-font: #{$font1};

	/* Transitions */
	--transition-duration: 0.3s;

	/* Border radius */
	--main-radius: #{rem(6)};
}

// Taille écran

$breakpoint-xs: 480px;  // Extra small devices (phones)
$breakpoint-sm: 768px;  // Small devices (tablets)
$breakpoint-md: 992px;  // Medium devices (small laptops)
$breakpoint-lg: 1200px;

/* Ecrans */
$md-size: 1024px;